{% load staticfiles %}
<div id="wrapper">

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'advisor/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'advisor/css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'advisor/css/flat-ui.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'advisor/css/chosen.min.css' %}" />

    <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><font color="#66CCFF">Career Study Advisor</font></a>
            </div>
        
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="csa-navbar collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/career">Careers</a></li>
                    <li><a href="/institution">Institutions</a></li>
                    <li><a href="/category">Categories</a></li>
                    <li><a href="/qualification">Qualifications</a></li>
                    
                </ul>
	{% block search %}
                <form class="navbar-form navbar-left search-bar" role="search" action="/search" method="get">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="career, qualification, institution, category" name="query">
                            </div>
                    <button type="submit" class="btn btn-default">Search</button>
                </form>
  {% endblock %}
                
                
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        {% if user.is_superuser %}
                            <li><a href="/admin">{{user}}</a></li>
                        {% else %}
                            <li><a href="/accounts/loggedin">{{user}}</a></li>
                        {% endif %}
                        <li><a href="/accounts/logout">Log Out</a></li>
                    {% else %}
                        <li><a href="/accounts/login">Login</a></li>
                        <li><a href="/accounts/register" style="color: #66CCFF">Sign Up</a></li>
                    {% endif %}
                </ul>
                
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->    </nav><br><br>
    {% block head %}
    {% endblock %}
</head>

<body class="well">
		{% block body_base %}
    <div class="panel whole-page">
        {% block body %}
        
        {% endblock %}
    </div>
		{% endblock %}
</body>

<footer>
    <script src="{% static 'advisor/js/jquery-2.1.1.min.js' %}"></script>
    <script src="{% static 'advisor/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'advisor/js/flat-ui.min.js' %}"></script>
    <script src="{% static 'advisor/js/jquery.cookie.js' %}"></script>
    <script src="{% static 'advisor/js/chosen.jquery.min.js' %}"></script>
    <script src="{% static 'advisor/js/Chart.min.js' %}"></script>
    {% block scripts %}
    {% endblock %}
</footer>
</div>

