<!--
 #################################################################################
 # Capstone Project - Career Study Advisor
 # By: Kevin Elliott (ellkev004), Ryan Wong (wngrya001) and Zena Kelz (klzzen001)
 # 21/07/2014 - 22/09/2014
 #################################################################################
 -->

{% extends "base.html" %}

{% block body_base %}
    <div class="whole-page">
		<div class="panel body-main">
				<div class="panel-body">
				{% block body_main %}

				{% endblock %}
				</div>
		</div>
		<div class="panel body-side">
				<div class="panel-body">
				{% block body_side %}

				{% endblock %}
				</div>
		</div>
    </div>
{% endblock %}
