{% extends "base.html" %}

{% block head %}

<h1>Update Profile</h1>

{% endblock %}


{% block body %}
<div class ="index-link">

<h2>Username: {{full_name}}</h2>

<form action="/accounts/loggedin" method="post">{% csrf_token %}
<p>
    {{args.form.as_p}}
    
    
</p>
<input type="submit" name="submit" value="Update">
</form>
    <h4>Liked Careers:</h4>
    <div class ="index-link">
    
    {% for l in likes %}
        {{l}}
    {% empty %}
        No Careers liked yet.
    {% endfor %}
        <div>
</div>
{% endblock %}
