{% extends "base.html" %}

{% block head %}
    <div class="panel csa-header">
        <h2>Profile  <small>{{full_name}}</small></h2>
    </div>
{% endblock %}


{% block body %}
    <div class ="index-link">
        <form action="/accounts/loggedin" method="post">{% csrf_token %}
            {{ args.form.non_field_errors }}
        <div>
            <h3>Interests</h3>
			<hr class="csa-hr">
			{{ args.form.interests.errors }}
			{{ args.form.interests }}
        </div>
        <br>
        <div>
			<h3>Subjects</h3>
			<hr class="csa-hr">
			{{ args.form.subjects.errors }}
			{{ args.form.subjects }}
        </div>
        <br>
        <div>
			<h3>Liked Careers</h3>
			<hr class="csa-hr">
            {% if likes|length > 0 %}
    			{% for l in likes %}
                    <a href="/career/{{l}}">{{l}}{% if not forloop.last %}, {% endif %}</a>
    			{% endfor %}
            {% else %}
                No <a href="/career/">careers</a> have been liked.
            {% endif %}
        </div>
        <br>
        <div>
            <h3>Liked Qualifications</h3>
            <hr class="csa-hr">
            {% if likes_qual|length > 0 %}
                {% for l in likes_qual %}
                    <a href="/institution/{{l.institution}}/{{l.name}}">{{l}}{% if not forloop.last %}, {% endif %}</a>
                {% endfor %}
            {% else %}
                No <a href="/qualification/">qualifications</a> have been liked.
            {% endif %}

        </div>
        <br>
        <input type="submit" name="submit" class="btn btn-primary" value="Update Profile">
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function()	{
            $("select").width("95%");
            $("span.helptext").remove();
            $("select").chosen();
        });
    </script>
{% endblock %}
