<!--
 #################################################################################
 # Capstone Project - Career Study Advisor
 # By: Kevin Elliott (ellkev004), Ryan Wong (wngrya001) and Zena Kelz (klzzen001)
 # 21/07/2014 - 22/09/2014
 # This document enables visualisation of the loggedin page
 #################################################################################
 -->

{% extends "base.html" %}

{% block head %}
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/accounts/loggedin">{{full_name}}</a></li>
    </ol>


    <div class="panel csa-header">
        <h2>Profile  <small>{{full_name}}</small></h2>
    </div>
{% endblock %}


{% block body %}
    <div class ="index-link">
        <form action="/accounts/loggedin" method="post">{% csrf_token %}
            {{ args.form.non_field_errors }}
        <div>
            <br>
            <h4>Interests<small>  What interests you?</small></h4>
			<hr class="csa-hr">
			{{ args.form.interests.errors }}
			{{ args.form.interests }}
        </div>
        <br>
        <br>
        <div>
			<h4>Subjects<small>  Which subjects do you do at school?</small></h4>
			<hr class="csa-hr">
			{{ args.form.subjects.errors }}
			{{ args.form.subjects }}
        </div>
        <br>
        <br>
        <div>
			<h4>Liked Careers<small>   By liking careers you help us know which careers to recommend to you</small></h4>
			<hr class="csa-hr">
            {% if likes|length > 0 %}
    			{% for l in likes %}
                    <a href="/career/{{l}}">{{l}}{% if not forloop.last %}, {% endif %}</a>
    			{% endfor %}
            {% else %}
                You have not liked any <a href="/career/">careers</a> yet.
            {% endif %}
        </div>
        <br>
        <br>
        <div>
            <h4>Liked Qualifications<small>   By liking careers you help us know which qualifications to recommend to you</small></h4>
            <hr class="csa-hr">
            {% if likes_qual|length > 0 %}
                {% for l in likes_qual %}
                    <a href="/institution/{{l.institution}}/{{l.name}}">{{l}}{% if not forloop.last %}, {% endif %}</a>
                {% endfor %}
            {% else %}
                You have not liked any <a href="/qualification/">qualifications</a> yet.
            {% endif %}

        </div>
        <br>
        <br>
        <input type="submit" name="submit" class="btn btn-primary" value="Update Profile">
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function()	{
            $("select").width("95%");
            $("span.helptext").remove();
            $("select").chosen();
        });
    </script>
{% endblock %}
