<!--
 #################################################################################
 # Capstone Project - Career Study Advisor
 # By: Kevin Elliott (ellkev004), Ryan Wong (wngrya001) and Zena Kelz (klzzen001)
 # 21/07/2014 - 22/09/2014
 # This document enables visualisation of the login page
 #################################################################################
 -->

{% extends "base.html" %}

{% block head %}

    <div class="panel csa-header">
    <h1>Login </h1>
    </div>

    {% if invalid %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <strong>Invalid login</strong>: Please try typing in your details again.
        </div>
    {% endif %}
    
{% endblock %}

{% block body %}

    <form class="form-signin span4" action="/accounts/auth/" method="post">{% csrf_token %}
        <div class ="index-link">
            <br><br>
            <div class ="index-login-link">
                <p><strong>Username</strong></p><input type="text" class="input-block-level" placeholder="Username" name="username" id="username" value="" size="60" />
            <br><br>
            <p><strong>Password</strong></p><input type="password" class="input-block-level" placeholder="Password" name="password" id="password" value="" size="60" />
            <br><br>
            <button class="btn btn-primary" value="login" type="submit">Login</button>
        </div>
    </form>

{% endblock %}
