{% extends "base.html" %}

{% block head %}
    <h1>Register</h1>
{% endblock %}

{% block body %}
    <div class ="index-link">
        <h2>Register here</h2>
        <br>
        <form  action="/accounts/register/" method="post">{% csrf_token %}
            <div class ="index-login-link">
                <p>{{args.form.as_p}}</p>
                <input type="submit" value = "Register"/>
           </div>
        </form>
        {% if invalid %}
        <p style="color:red;">* Invalid input or user already exists</p>
        {% endif %}
    </div>
{% endblock %}
