<!--
 #################################################################################
 # Capstone Project - Career Study Advisor
 # By: Kevin Elliott (ellkev004), Ryan Wong (wngrya001) and Zena Kelz (klzzen001)
 # 21/07/2014 - 22/09/2014
 #################################################################################
 -->

{% extends "base.html" %}

{% block head %}

    <div class="panel csa-header">
    <h1>Sign Up</h1>
    </div>
    <!---Aleart of details entered -->
    {% if invalid %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <strong>Invalid input or user already exists</strong>: Please try typing in your details again.
        </div>
    {% endif %}

{% endblock %}

{% block body %}
<!---Displays the form for the user to register an account with the system-->
    <div class ="index-link">
        <br><br>
        <form  action="/accounts/register/" method="post">{% csrf_token %}
            <div class ="index-login-link">
                <p>{{args.form.as_p}}</p>
                <input class="btn btn-primary" type="submit" value = "Register"/>
           </div>
        </form>
    </div>
{% endblock %}
