p.indentt {
  margin-left: 30px;
}

.index-link {
    margin:0em 2em;
    word-spacing:.25em;
}

.index-login-link {
    margin:0em 4em;
    word-spacing:.25em;
}

.indent-30px {
    margin-left: 30px;
}

.tag {
    font-size: 50%;
    
}

.search-bar {
 border: solid 1px #000000;  
    background-color: #e3e3e3;
}

#container {
    height:150%;
	position: relative;
    
}
#one {
	width: 800px;
}
#two {
	position: absolute;
	top: 10px;
	right: 10px;
	bottom: 10px;
	width: 250px;
   /* border: 1px solid #000000;*/

/*    overflow: auto;*/

}

div.panel.body-main {
	height: auto;
	width: 75%;
	float: left;
	min-height: 500px;
	padding-bottom:20px;
}

div.panel.body-side {
	height: auto;
	width: 24%;
	float: right;
	min-height: 500px;
	padding-bottom: 20px;
}

div.panel.body-home-categories {
	height: auto;
	width: 49%;
	float: left;
	min-height: 300px;
	padding-bottom:20px;
}

div.panel.body-home-careers {
	height: auto;
	width: 49%;
	float: right;
	min-height: 300px;
	padding-bottom: 20px;
}

div.csa-navbar.navbar-collapse>ul>li>a {
	font-size: 14px;
	padding-right: 15px;
	padding-left: 15px;
}

a.btn-csa-like	{
	margin-left: 10px;
}

div.panel.csa-header	{
	padding: 15px;
	padding-left: 30px;
	padding-top: 0px;
}

div.whole-page.panel {
	padding-bottom: 40px;
}

hr.csa-hr {
	margin-top: -10px;
}

div.tag a.btn	{
	margin: 2px;
}

div.csa-chart-legend    {
    column-count: auto;
    -webkit-column-count: auto;
    -moz-column-count: auto;
}