{% extends "base.html" %}

{% block head %}
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/career">Careers</a></li>
    <li class="active">{{career.name}}</li>
</ol>

<span>
<span style="padding-right: 2em" ><font size="7">{{ career.name }}</font></span>
{% if career_liked %}
<a class="btn btn-warning btn-xs" disabled="disabled" role="button">Liked</a>
<span style="font-size: 12">You've already liked this career</span>
{% else %}
<a class="btn btn-warning btn-xs" role="button">Like</a>
{% endif %}
</span>

<div class="tag">
{% for category in categories %}
<a class="btn btn-primary btn-sm" role="button" href="/category/{{ category.name }}">{{ category }}</a>
{% endfor %}
</div>
<br>
{% endblock %}

{% block body %}
<div class ="index-link">
<div id="container">
    <div id="one" >
        <h3>Description</h3>
        <p>{{ career.description }}</p>
        <br>
        <h3>Where to study</h3>
        {% for inst in institutions %}
        <p ><a href="/career/{{ career.name }}/{{ inst }}">{{ inst }}</a></p>
        {% endfor %}
    </div>
    <div id="two">
        
        <h3>Companies</h3>
        {% for comp in companies %}
        <p><a href={{comp.site_url}}>{{ comp.name }}</a></p>
        {% endfor %}
        <br>
        <h3>Similar Careers </h3>
        {% for currCareer in similarCareers %}
        <p><a href="/career/{{ currCareer.name }}">{{ currCareer }}</a></p>
        {% endfor %}
        </ul>
    </div>
   <!-- <div id="three">
        <p><a href="/career">to career index</a></p>
        <p><a href="/">to home page</a></p>
    </div>-->
    
</div>
    </div>
    
{% endblock %}


