{% extends "base.html" %}

{% block head %}
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/career">Careers</a></li>
    <li class="active">{{career.name}}</li>
</ol>

<h1>{{ career.name }}</h1>

<div class="tag">
{% for category in categories %}
<a class="btn btn-primary btn-sm" role="button" href="/category/{{ category.name }}">{{ category }}</a>
{% endfor %}
</div>
<br>
{% endblock %}

{% block body %}
<div class ="index-link">
<div id="container">
    <div id="one" >
        <h3>Description</h3>
        <p>{{ career.description }}</p>
        <br>
        <h3>Where to study</h3>
        {% for inst in institutions %}
        <p ><a href="/career/{{ career.name }}/{{ inst }}">{{ inst }}</a></p>
        {% endfor %}
    </div>
    <div id="two">
        
        <h3>Companies</h3>
        {% for comp in companies %}
        <p><a href={{comp.site_url}}>{{ comp.name }}</a></p>
        {% endfor %}
        <br>
        <h3>Similar Careers </h3>
        {% for currCareer in similarCareers %}
        <p><a href="/career/{{ currCareer.name }}">{{ currCareer }}</a></p>
        {% endfor %}
        </ul>
    </div>
   <!-- <div id="three">
        <p><a href="/career">to career index</a></p>
        <p><a href="/">to home page</a></p>
    </div>-->
    
</div>
    </div>
    
{% endblock %}


