<!--
 #################################################################################
 # Capstone Project - Career Study Advisor
 # By: Kevin Elliott (ellkev004), Ryan Wong (wngrya001) and Zena Kelz (klzzen001)
 # 21/07/2014 - 22/09/2014
 # This document enables visualisation of the Categories page
 #################################################################################
 -->
{% extends "base.html" %}

{% block head %}
<!---Allows for visualisation of the Breadcrumbs Bar -->
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/category">Categories</a></li>
  <li class="active">{{category}}</li>
</ol>

<div class="panel csa-header">
    <h2>{{ category|title }}</h2>
</div>
{% endblock %}


{% block body %}
<!---Displays the list of careers in the category -->
<div class ="index-link">
    {% if careers|length = 0 %}
      <p><br>
      There are no <a href="/career/">careers</a> in this category...yet.</p>
    {% else %}
      {% for letter in careers %}
        <br>
        <h3>{{ letter.0.name.0|upper }}</h3>
        {% for career in letter %}
          <p><a href="/career/{{ career.name }}">{{ career.name }}</a></p>
        {% endfor %}
      {% endfor %}
    {% endif %}
</div>

{% endblock %}
