{% extends "base.html" %}

{% block head %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/category">Categories</a></li>
  <li class="active">{{category}}</li>
</ol>

<h2>{{ category|title }}</h2>

{% endblock %}


{% block body %}
<div class ="index-link">
    {% for letter in careers %}
    <br>
    <h3>{{ letter.0.name.0|upper }}</h3>
    {% for career in letter %}
    <p><a href="/career/{{ career.name }}">{{ career.name }}</a></p>
    {% endfor %}
    {% endfor %}
</div>

{% endblock %}
