{% extends "base_split_home.html" %}

{% block banner %}
<div>
<center><h1><font color="#000000">Career Study Advisor</font></h1></center>
<hr class="csa-hr">
<br>
 <center>
 <h5>Career Study Advisor provides students with in-depth information<br>on careers and study options for tertiary education.</h5><br>
 </center>
 </div>


 <br>
 <center>
<div class="input-group-lg-5">
        <form action="/search" method="get">
            
            <div class="input-group col-lg-8">
               
                <input type="text" class="form-control" style="border-top-color: #32D99E;border-bottom-color: #32D99E;border-left-color: #32D99E;border-right-color: #32D99E" placeholder="search for career, category, institution, or qualification" name="query">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary" style="border-top-color: #32D99E;border-bottom-color: #32D99E;border-left-color: #32D99E;border-right-color: #32D99E"><span class="glyphicon glyphicon-search"></span> Search </button>
                    </span>
                     
                    </div><!-- /input-group -->
          
        </form>
       
    </div>
</center>
 <br>
 <center>
 <br>
{% if user.is_authenticated %}
    <a href="/recommend" class="btn btn-primary btn-lg" style="background-color: #32D99E" role="button"><strong>Get Recommendations</strong></a><p> Click to get career and qualification suggestions based on your interests and school subjects.</p>
{% else %}
    <a href="/recommend" class="btn btn-default btn-lg" disabled="disabled" role="button"><strong>Get Recommendations</strong></a> <p><a href="/accounts/register/">Sign up</a> or <a href="/accounts/login/">login</a> to get career and qualification suggestions based on your interests and school subjects.</p>
{% endif %}
</center>
 <br><br><br>
{% endblock %}

{% block categories %}
<h3><center>Categories</center></h3>
<hr class="csa-hr">
<div class="btn-toolbar" role="toolbar">
    <center>
        <div class ="tag" class="btn-group btn-group-lg btn-group-justified btn-group-fill-height">
            {% for category in categories %}
            <a href="/category/{{ category.name }}" class="btn btn-primary" role="button">
                <strong>{{category.name}}</strong><br>
                
            </a>
            {% endfor %}
        </div>
    </center>
</div>
{% endblock %}

{% block careers %}
{% if user.is_authenticated %}
    {% if user.is_superuser %}
        <h3><center>Careers</center></h3>
    {% else %}
        <h3><center>Suggested Careers</center></h3>
    {% endif %}
{% else %}
    <h3><center>Careers</center></h3>
{% endif %}

<hr class="csa-hr">
<div class="btn-toolbar" role="toolbar">
<center>
{% if user.is_authenticated %}
    {% if user.is_superuser %}
         <div class ="tag" class="btn-group btn-group-lg btn-group-justified btn-group-fill-height">
        {% for career in careers %}
            <a href="/career/{{ career.name }}" class="btn btn-success career-tooltip" role="button" data-toggle="tooltip" data-trigger="hover" title="{{ career.short_description }}" data-placement="top">
                    <strong>{{career.name}}</strong>
                    <br>
            </a>
        {% endfor %}
    </div>
    {% else %}
        <div class ="tag" class="btn-group btn-group-lg btn-group-justified btn-group-fill-height">
            {% for pair in list_of_suggested_careers %}
                <a href="/career/{{ pair.0.name }}" class="btn btn-success career-tooltip" role="button" data-toggle="tooltip" data-trigger="hover" title="{{ pair.0.short_description }}" data-placement="top">
                    <strong>{{pair.0.name}}</strong>
                    <br>
                </a>
            {% endfor %}
        </div>
    {% endif %}
{% else %}
    <div class ="tag" class="btn-group btn-group-lg btn-group-justified btn-group-fill-height">
        {% for career in careers %}
            <a href="/career/{{ career.name }}" class="btn btn-success career-tooltip" role="button" data-toggle="tooltip" data-trigger="hover" title="{{ career.short_description }}" data-placement="top">
                    <strong>{{career.name}}</strong>
                    <br>
            </a>
        {% endfor %}
    </div>
    <br>
    <p><a href="/accounts/register/">Sign up</a> or <a href="/accounts/login/">login</a> to get suggested careers.</p>
{% endif %}
        
    </center>

</div>

{% endblock %}

{% block search %}
{% endblock %}

{% block scripts %}
<script>
	$(document).ready(function()	{
		$(".career-tooltip").tooltip();
	});
</script>
{% endblock %}
