{% extends "base.html" %}

{% block head %}
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/career">Careers</a></li>
    <li><a href="/institution/{{institution.name}}">Institutions</a></li>
    <li class="active">Qualifications</li>
</ol>

<div class="panel csa-header">
<h3>{{ career }}: {{ institution }}</h3>
</div>
{% endblock %}


{% block body %}

<div class ="index-link">

<h4>Qualifications offered that lead to becoming a {{ career }}</h4>

{% for qualification in qualifications %}


<br>
<h5><a href="/institution/{{ institution }}/{{ qualification.name }}">{{ qualification.name }}</a></h5>
<p>{{ qualification.short_description}}</p>
{% endfor %}
<br>
<!--
<p><a href="/career/{{career}}">back to {{career}}</a></p>
<p><a href="/institution/{{institution}}">more about {{institution}}</a></p>
</div>-->

{% endblock %}





