{% extends "base.html" %}

{% block head %}
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/career">Careers</a></li>
    <li><a href="/institution/{{institution.name}}">Institutions</a></li>
    <li class="active">Qualifications</li>
</ol>

<h2>{{ career }}: {{ institution }}</h2>
{% endblock %}


{% block body %}

<div class ="index-link">

<h3>Qualifications offered at {{ institution }} that lead to being a {{ career }}:</h3>

{% for qualification in qualifications %}


<br>
<h4><a href="/institution/{{ institution }}/{{ qualification.name }}">{{ qualification.name }}</a></h4>
<p>{{ qualification.short_description}}</p>
{% endfor %}
<br>
<!--
<p><a href="/career/{{career}}">back to {{career}}</a></p>
<p><a href="/institution/{{institution}}">more about {{institution}}</a></p>
</div>-->

{% endblock %}





