{% extends "base_split.html" %}
{% load static %} 

{% block head %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/institution">Institutions</a></li>
  <li class="active">{{institution.name}}</li>
</ol>

</head>

<h2><img src={{logo}} alt="logo" width="60" height="60"/>{{ institution.name }}</h2>
{% endblock %}


{% block body_main %}
	<br>
	<h3>Description</h3>
	<p>  {{ institution.description }}</p>

	<br>
	<h3>Qualifications Offered</h3>
	{% for qual in qualifications %}
		<p><a href="/institution/{{ institution.name }}/{{ qual }}">{{ qual }}</a></p>
	{% endfor %}

	<br>
	<h3>Handbooks</h3>
	{% for handbook in handbooks %}
		<p><a href={{handbook.site_url}}>{{ handbook.name }}</a></p>
	{% endfor %}

	<br>
	<h3>Faculties</h3>
	{% for w in facultyWebsites %}
		<p><a href={{w.site_url}}>{{ w.name }}</a></p>
	{% endfor %}
{% endblock %}

{% block body_side %}
	<h3>Contact</h3>
	{% for w in contactWebsites %}
		<p><a href={{w.site_url}}>{{ w.name }}</a></p>
	{% endfor %}

	<br>
	<h3>Other Information</h3>
	{% for w in websites %}
		<p><a href={{w.site_url}}>{{ w.name }}</a></p>
	{% endfor %}
{% endblock %}
