{% extends "base_split.html" %}

{% block head %}

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/institution">Institutions</a></li>
  <li><a href="/institution/{{qualification.institution}}">{{qualification.institution}}</a></li>
  <li class="active">{{qualification.name}}</li>
</ol>

<div class="panel csa-header">
<h3>{{ qualification.name }}<small>
    {% if user.is_authenticated %}
    {% if user.is_superuser %}
    <!--Dont show like button-->
    {% else %}
    <a onclick="toggleLike(this)" class="btn-csa-like btn {% if qual_liked %} btn-danger {% else %} btn-warning {% endif %} btn-xs" role="button">
            {% if qual_liked %}
                    Liked
            {% else %}
                    <!--<span class="glyphicon glyphicon-thumbs-up"></span> -->Like
            {% endif %}
    </a>
{% endif %}
    {% endif %}<!--super user-->


</small></h3>
</div>
{% endblock %}

{% block body_main %}
	<h3>{{ qualification.institution }}</h3>

	<br>
	<h4>Details</h4>
	<p>{{ qualification.long_description }}</p>
    
    <!-- Displays a list of subjects required for a particular qualification -->
	<br>
	<h4>Qualification requirements</h4>
   
    
    <!--Compares the subjects that a user has taken to a list of subjects required to obtain the
        qualification. The system then displays a list of subject requirments that have been met and a list of subjects that the user hasn't taken (and that are required) -->
    {% if user.is_authenticated %}
        {% if user.is_superuser %}
            {% for sub in subjects %}
<ul>
<li>{{sub}}</li>
</ul>

            {% endfor %}
        {% else %}<!--superuser else-->

    	{% if matched_subjects|length != 0 %}
             <div>
        The required subjects for this qualification that you <span style="color:#46BFBD">have</span> and <span style="color:#F7464A">have not</span> completed.
    </div>
            <table>
                <tr>
                    <td>
                        <canvas id="requirementsChart" width="200" height="200"></canvas>
                    </td>

                    <!-- Subject Requirments that have been met by the user -->
                    <td style="vertical-align: middle; padding-left: 10px;">
                        <div class="csa-chart-legend">
                    		{% for sub in matched_subjects %}
                                <div><span style="background-color: #46BFBD; margin: 2px 0px; width: 100%" class="btn btn-primary btn-sm" role="button">{{sub}}</span></div>
                            {% endfor %}
                            <!-- Extra subjects needed by the user -->
                    		{% for sub in extra_subjects_needed %}
                                <div><span style="background-color: #F7464A; margin: 2px 0px; width: 100%" class="btn btn-primary btn-sm" role="button">{{sub}}</span></div>
                            {% endfor %}
                        </div>
                    </td>
                </tr>
            </table>

    	{% else %}	
            <ul>
                {% for sub in subjects %}
                <ul>
                    <li>{{sub}}</li>
                </ul>
                {% endfor %}
            </ul>
            <a style="font-weight:normal;  font-size:16px; color:#F7464A">You have not completed any of the subjects required for this qualification.</a>
            
    		
		{% endif %}

        {% endif %} <!--superuser end-->


	{% else %}
            <ul>
                {% for sub in subjects %}
                    <li>{{sub}}</li>
                {% endfor %}
            </ul>
        <span><a href="/accounts/register/">Sign up</a> or <a href="/accounts/login/">login</a> to see whether you meet the subject requirements.</span>
    
    {% endif %}

    <br><br>
    <h4>Careers that this qualification leads to</h4>
    <ul>
      {% for career in careers %}
        <li><a href="/career/{{ career.name }}">{{ career.name }}</a></li>
      {% endfor %}
    </ul>
    <br>

    
    <!-- <div id="requirementsChartLegend" width="400" height="400"></div> -->



{% endblock %}

{% block body_side %}
	<h4>More Information</h4>
  	{% for website in websites %}
        <p><a href={{website.site_url}}>{{ website.name }}</a></p>
	{% endfor %}
   
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {
        var ctx = $("#requirementsChart")[0].getContext("2d");



        var data = [
        {% for sub in extra_subjects_needed %}
            {
                value: 1,
                color:"#F7464A",
                highlight: "#FF5A5E",
                label: "{{ sub }}"
            },
        {% endfor %}
        {% for sub in matched_subjects %}
            {
                value: 1,
                color: "#46BFBD",
                highlight: "#5AD3D1",
                label: "{{ sub }}"
            },
        {% endfor %}
        ];

        var requirementsChart = new Chart(ctx).Pie(data, {tooltipTemplate: "<%if (label){% templatetag openblock %}><%=label%><{% templatetag closeblock %}%>"});

    });
</script>
<script type="text/javascript">
    $(document).ready(function(){
        $(".chosen-select").chosen();
    });

    function toggleLike(button) {
    button = $(button);
    action = button.text().toLowerCase().trim();
    $.ajax(window.location.pathname, {
        type: "POST",
        headers: {"X-CSRFToken": $.cookie('csrftoken')},
        data:    {action: action},
        success: function(data, textStatus, jqXHR)  {
            if(action == "like")    {
                button.text("Liked");
                button.removeClass("btn-warning")
                button.addClass("btn-danger")
            }
            else    {
                button.text("Like");
                button.removeClass("btn-danger")
                button.addClass("btn-warning")

            }
        }
    });
}

</script>
{% endblock %}