{% extends "base.html" %}

{% block head %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/">Search</a></li> <!--need to change this to a search page (which just has a bar) -->
  <li class="active">{{search_term}}</li>
</ol>

<div class="panel csa-header">
<h2>Search</h2>
</div>
{% endblock %}



{% block body %}

<div class ="index-link">
<h3><center>Results that contain "{{ search_term }}"</center></h3>


{% if careers|length > 0 %}
<h3><b>Careers</b></h3>
<div class ="indent-30px">
  {% for letter in careers %}
    <br>
    <h2>{{ letter.0.name.0|upper }}</h2>
    {% for career in letter %}
      <p><a href="/career/{{ career.name }}">{{ career.name }}</a></p>
    {% endfor %}
  {% endfor %}
</div>
<hr>
{% endif %}



{% if institutions|length > 0 %}
<h3><b>Institutions</b></h3>
<div class ="indent-30px">
  {% for letter in institutions %}
    <br>
    <h2>{{ letter.0.name.0|upper }}</h2>
    {% for institution in letter %}
      <p><a href="/institution/{{ institution.name }}">{{ institution.name }}</a></p>
    {% endfor %}
  {% endfor %}
  </div>
<hr>
{% endif %}



{% if categories|length > 0 %}
<h3><b>Categories</b></h3>
<div class ="indent-30px">
  {% for letter in categories %}
    <br>
    <h2>{{ letter.0.name.0|upper }}</h2>
    {% for category in letter %}
      <p><a href="/category/{{ category.name }}">{{ category.name }}</a></p>
    {% endfor %}
  {% endfor %}
  </div>
<hr>
{% endif %}



{% if qualifications|length > 0 %}
<h3><b>Qualifications</b></h3>
<div class ="indent-30px">
  {% for letter in qualifications %}
    <br>
    <h2>{{ letter.0.name.0|upper }}</h2>
    {% for qualification in letter %}
      <p><a href="/institution/{{ qualification.institution }}/{{ qualification.name }}">{{ qualification.name }}</a></p>
    {% endfor %}
  {% endfor %}
  </div>
{% endif %}

<!-- by putting the / first it takes it from the root -->
</div>
{% endblock %}