<!--
    #################################################################################
    # Capstone Project - Career Study Advisor 
    # By: Kevin Elliott (ellkev004), Ryan Wong (wngrya001) and Zena Kelz (klzzen001)
    # 21/07/2014 - 22/09/2014
    # This document enables visualisation of the Search Results Page
    #################################################################################
-->
{% extends "base.html" %}

<!---Allows for visualisation of the Breadcrumbs Bar -->
{% block head %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/">Search</a></li> 
  <li class="active">{{search_term}}</li>
</ol>

<div class="panel csa-header">
<h2>Search</h2>
</div>
{% endblock %}



{% block body %}

<!---Allows for visualisation of the Search Page Heading -->
<div class ="index-link">
<h3><center>Results that contain "{{ search_term }}"</center></h3>

<!---Listing of all careers matching search criteria-->
{% if careers|length > 0 %}
<h3><b>Careers</b></h3>
<div class ="indent-30px">
  {% for letter in careers %}
    <br>
    <h2>{{ letter.0.name.0|upper }}</h2>
    {% for career in letter %}
      <p><a href="/career/{{ career.name }}">{{ career.name }}</a></p>
    {% endfor %}
  {% endfor %}
</div>
<hr>
{% endif %}


<!---Listing of all careers matching search criteria-->
{% if institutions|length > 0 %}
<h3><b>Institutions</b></h3>
<div class ="indent-30px">
  {% for letter in institutions %}
    <br>
    <h2>{{ letter.0.name.0|upper }}</h2>
    {% for institution in letter %}
      <p><a href="/institution/{{ institution.name }}">{{ institution.name }}</a></p>
    {% endfor %}
  {% endfor %}
  </div>
<hr>
{% endif %}


<!---Listing of all catagories matching search criteria-->
{% if categories|length > 0 %}
<h3><b>Categories</b></h3>
<div class ="indent-30px">
  {% for letter in categories %}
    <br>
    <h2>{{ letter.0.name.0|upper }}</h2>
    {% for category in letter %}
      <p><a href="/category/{{ category.name }}">{{ category.name }}</a></p>
    {% endfor %}
  {% endfor %}
  </div>
<hr>
{% endif %}


<!---Listing of all qualifications matching search criteria-->
{% if qualifications|length > 0 %}
<h3><b>Qualifications</b></h3>
<div class ="indent-30px">
  {% for letter in qualifications %}
    <br>
    <h2>{{ letter.0.name.0|upper }}</h2>
    {% for qualification in letter %}
      <p><a href="/institution/{{ qualification.institution }}/{{ qualification.name }}">{{ qualification.name }}</a></p>
    {% endfor %}
  {% endfor %}
  </div>
{% endif %}


</div>
{% endblock %}